  }

  .hero h1 {
    font-size: 52px;
  }

  .products-section {
    padding: 65px 4%;
  }

  .products-grid {
    grid-template-columns: 1fr;
  }

  .product-image {
    height: 260px;
  }

  .two-inputs {
    grid-template-columns: 1fr;
  }

  .modal {
    padding: 10px;
  }

  .modal-box {
    margin: 20px auto;
    padding: 22px;
  }
}
